<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="th.ac.kku.cis.mobileapp.stuactivity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewAdmin.Event"></activity>
        <activity android:name=".ViewAdmin.ListviewEvent" />
        <activity android:name=".ViewAdmin.Listevent_Admin" />
        <activity android:name=".ViewAdmin.Listadmin" />
        <activity android:name=".ViewAdmin.ListAdmin" />
        <activity android:name=".ViewAdmin.List_eventadmin" />
        <activity android:name=".ListeventAdmin" />
        <activity android:name=".ListEvent_Admin" />
        <activity android:name=".View.u_select_detail_show">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewAdmin.Save_Activity" />
        <activity android:name=".ViewAdmin.AdminMain" />
        <activity android:name=".View.Student_Activity" />

    </application>

</manifest>